<div class='col-sm-4 col-sm-offset-4 text-center'>
  <form id='upload-form' action='/uploads' method='post'>
    <label for='link'>Paste the link to the image</label>
  	<input type='text' name='link'>
  	<br />

  	<label for = "description">Description of the image </label>
  	<input type= "text" name = "description" />
    <br />

    <input type='submit' value='Save'>
  </form>
</div>
