<div id="get-upload-form" class="col-xs-8 col-xs-offset-2 col-sm-offset-3 col-sm-6 col-md-4 col-md-offset-4">
    <a id='get-upload-form-btn' class='btn btn-lg btn-default btn-block' href='/uploads/new'>Add an Image</a>
</div>