  <div class='col-sm-6 col-sm-offset-3 well text-center'>
    <form id='registration-form' action='/users' method='post'>
      <h2>Signup</h2>
      <br>

      <label for='email'>Email:</label>
      <input type='email' name='user[email]'>
      <br>

      <label for='password'>Password:</label>
      <input type='password' name='user[password]'>
      <br>

      <div class='col-sm-6 col-sm-offset-3'>
        <input class='btn btn-default btn-block' type='submit' value='Register'>
      </div>
    </form>
  </div>