<div class="row" id="registration-div">
</div>


<div class="row" id="upload-form-div">
  <%= erb :'partials/_get_upload_form', layout: false %>
</div>

<div class='row' id='uploads'>
  <%= erb :'partials/_upload_loop', layout: false, locals: { uploads: @uploads } %>
</div>
