<div class=' text-center'>
<h1>Header</h1>
</div>

<div class='row'>
  <div class="col-md-4 col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1 text-center">
    <h2>Photo 1</h2>
    <img src="https://bwwepw.bl3301.livefilestore.com/y3mdRBiqL2xRpnxquMHBM4wuNDVYG3R4130wAOLysUQNWIVvU5WyQ8ZREHeJyOD-jPxHCKQJkMXeTEDSxtqnPhJUVmkHsHEYCCj0m4pHl0GG4segm9fQJCgmGUg_5w8tbzjb4L4hL4jHGVsWhsR_z8-Av7PxzuSMpVk-5u81N8u1Dc?width=1801&height=1349&cropmode=none" width="1801" height="1349" />
    <hr>
    <p>Description: fjdsklfghsdjkfhsldjkfhsdjklfhdsjklfhjksdlhflsd</p>
  </div>

  <div class="col-md-4 col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1 text-center">
    <h2>Photo 1</h2>
    <img src="https://bwwepw.bl3301.livefilestore.com/y3mdRBiqL2xRpnxquMHBM4wuNDVYG3R4130wAOLysUQNWIVvU5WyQ8ZREHeJyOD-jPxHCKQJkMXeTEDSxtqnPhJUVmkHsHEYCCj0m4pHl0GG4segm9fQJCgmGUg_5w8tbzjb4L4hL4jHGVsWhsR_z8-Av7PxzuSMpVk-5u81N8u1Dc?width=1801&height=1349&cropmode=none" width="250" height="250" />
    <hr>
    <p>Description: fjdsklfghsdjkfhsldjkfhsdjklfhdsjklfhjksdlhflsd</p>
  </div>
  <div class="col-md-4 col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1 text-center">
    <h2>Photo 1</h2>
    <img src="https://bwwepw.bl3301.livefilestore.com/y3mdRBiqL2xRpnxquMHBM4wuNDVYG3R4130wAOLysUQNWIVvU5WyQ8ZREHeJyOD-jPxHCKQJkMXeTEDSxtqnPhJUVmkHsHEYCCj0m4pHl0GG4segm9fQJCgmGUg_5w8tbzjb4L4hL4jHGVsWhsR_z8-Av7PxzuSMpVk-5u81N8u1Dc?width=1801&height=1349&cropmode=none" width="250" height="250" />
    <hr>
    <p>Description: fjdsklfghsdjkfhsldjkfhsdjklfhdsjklfhjksdlhflsd</p>
  </div>
  <div class="col-md-4 col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1 text-center">
    <h2>Photo 1</h2>
    <img src="https://bwwepw.bl3301.livefilestore.com/y3mdRBiqL2xRpnxquMHBM4wuNDVYG3R4130wAOLysUQNWIVvU5WyQ8ZREHeJyOD-jPxHCKQJkMXeTEDSxtqnPhJUVmkHsHEYCCj0m4pHl0GG4segm9fQJCgmGUg_5w8tbzjb4L4hL4jHGVsWhsR_z8-Av7PxzuSMpVk-5u81N8u1Dc?width=1801&height=1349&cropmode=none" width="250" height="250" />
    <hr>
    <p>Description: fjdsklfghsdjkfhsldjkfhsdjklfhdsjklfhjksdlhflsd</p>
  </div>
  <div class="col-md-4 col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1 text-center">
    <h2>Photo 1</h2>
    <img src="https://bwwepw.bl3301.livefilestore.com/y3mdRBiqL2xRpnxquMHBM4wuNDVYG3R4130wAOLysUQNWIVvU5WyQ8ZREHeJyOD-jPxHCKQJkMXeTEDSxtqnPhJUVmkHsHEYCCj0m4pHl0GG4segm9fQJCgmGUg_5w8tbzjb4L4hL4jHGVsWhsR_z8-Av7PxzuSMpVk-5u81N8u1Dc?width=1801&height=1349&cropmode=none" width="250" height="250" />
    <hr>
    <p>Description: fjdsklfghsdjkfhsldjkfhsdjklfhdsjklfhjksdlhflsd</p>
  </div>
  <div class="col-md-4 col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1 text-center">
    <h2>Photo 1</h2>
    <img src="https://bwwepw.bl3301.livefilestore.com/y3mdRBiqL2xRpnxquMHBM4wuNDVYG3R4130wAOLysUQNWIVvU5WyQ8ZREHeJyOD-jPxHCKQJkMXeTEDSxtqnPhJUVmkHsHEYCCj0m4pHl0GG4segm9fQJCgmGUg_5w8tbzjb4L4hL4jHGVsWhsR_z8-Av7PxzuSMpVk-5u81N8u1Dc?width=1801&height=1349&cropmode=none" width="250" height="250" />
    <hr>
    <p>Description: fjdsklfghsdjkfhsldjkfhsdjklfhdsjklfhjksdlhflsd</p>
  </div>
  <div class="col-md-4 col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1 text-center">
    <h2>Photo 1</h2>
    <img src="https://bwwepw.bl3301.livefilestore.com/y3mdRBiqL2xRpnxquMHBM4wuNDVYG3R4130wAOLysUQNWIVvU5WyQ8ZREHeJyOD-jPxHCKQJkMXeTEDSxtqnPhJUVmkHsHEYCCj0m4pHl0GG4segm9fQJCgmGUg_5w8tbzjb4L4hL4jHGVsWhsR_z8-Av7PxzuSMpVk-5u81N8u1Dc?width=1801&height=1349&cropmode=none" width="250" height="250" />
    <hr>
    <p>Description: fjdsklfghsdjkfhsldjkfhsdjklfhdsjklfhjksdlhflsd</p>
  </div>
  <div class="col-md-4 col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1 text-center" >
    <h2>Photo 1</h2>
    <img src="https://bwwepw.bl3301.livefilestore.com/y3mdRBiqL2xRpnxquMHBM4wuNDVYG3R4130wAOLysUQNWIVvU5WyQ8ZREHeJyOD-jPxHCKQJkMXeTEDSxtqnPhJUVmkHsHEYCCj0m4pHl0GG4segm9fQJCgmGUg_5w8tbzjb4L4hL4jHGVsWhsR_z8-Av7PxzuSMpVk-5u81N8u1Dc?width=1801&height=1349&cropmode=none" width="250" height="250" />
    <hr>
    <p>Description: fjdsklfghsdjkfhsldjkfhsdjklfhdsjklfhjksdlhflsd</p>
  </div>
</div>
