
<div class='row get-upload-form'>
  <div class="get-upload-form col-xs-8 col-xs-offset-2 col-sm-offset-3 col-sm-6 col-md-4 col-md-offset-4">
    <a class='btn btn-lg btn-default btn-block' href='/uploads/new'>Add an Image</a>
  </div>
</div>

<div class='row uploads'>
<% @uploads.each do |upload| %>
  <div class="col-lg-6 text-center">
    <img src="<%= upload.link %>" width='250' height='250'>
    <h2><%= upload.description %></h2>
  </div>
<% end %>
</div>
