<% if @errors %>
  <% @errors.each do |error| %>
    <div class="errors"><p><%= error %></p></div>
  <% end %>
<% end %>

<form action='/uploads' method='post'>
  <label for='link'>Paste the link to the image</label>
  <input type='text' name='link'>
  <br />
  <label for = "description">Description of the image </label>
  <input type= "text" name = "description" />

  <input type='submit' value='Save'>
</form>
